---
title: About
h1: A little background
date: 2011-08-27
---

<div id="home">&lArr; <a href="/">Return home</a></div>

<h1><%= @item[:h1] %></h1>

<h2>Why?</h2>

<p>Two main reasons: I want to write more, and I want a place to put longer notes to myself. When I was finishing school &ndash; after many, many years &ndash; I remember how good I felt about my writing. At that point, I had just finished writing a dissertation, and I was in the habit of reading and writing all day, nearly every day. Flash forward, and I don&rsquo;t write nearly so often, and I think it shows. My writing feels flabby and repetitive and bland. I would like to fix that. Also, I like having a place where I can ramble, post up observations or simply drop notes to my future self (&ldquo;Here&rsquo;s how I figured out how to use remote branches in Git&rdquo;). Hence, this site.</p>

<h2>How?</h2>

<p><a href="http://www.vim.org/">Vim</a> + <a href="http://wiki.github.com/mojombo/jekyll/">Jekyll</a> + <a href="http://git-scm.com/">Git</a> + <a href="http://github.com/">Github</a> + various Macs = this site. <a href="http://typekit.com/">Typekit</a> provides the fonts. The source of the site is available at Github, if you&rsquo;re curious: <a href="http://github.com/telemachus/ithaca">http://github.com/telemachus/ithaca</a>. <a href="http://geekisp.com/">Geekisp</a> does the hosting.</p>

<h2>Who?</h2>

<p>My name is Peter Aronoff, and online I tend to go by Telemachus (hence the name of this site &ndash; partly). If you have something you <em>must</em> say to me, you can reach me at telemachus /at/ arpinum /dot/ org. It shouldn&rsquo;t really matter, but if you&rsquo;re curious, I&rsquo;m a teacher and sysadmin in New York City. In addition to the occasional post here, I&rsquo;m online regularly or semi-regularly in some other places. I <ins>used to</ins> visit <a href="http://forums.debian.net/">Debian User Forums</a> and <a href="http://www.linuxquestions.org/questions/">LinuxQuestions</a> regularly. I sometimes post questions or answers on <a href="http://stackoverflow.com/users/26702/telemachus">StackOverflow</a>, and I sometimes post comments on <a href="http://news.ycombinator.com/">Hacker News</a>. I keep some bookmarks on <del><a href="http://delicious.com/Telemachus_">Delicious</a></del>, and you can find me <del>@peteraronoff</del> <ins><a href="http://twitter.com/telemachus">@telemachus</a></ins> on Twitter. (I&rsquo;ve switched to <a href="http://pinboard.in/u:telemachus">Pinboard</a> for bookmarks. I recommend it very highly. Also, I was finally able to get my preferred name on Twitter. I&rsquo;m now &rsquo;telemachus&rsquo; there.) For more geek fun, I&rsquo;ve signed up for <a href="http://coderwall.com/telemachus">coderwall</a> and <a href="http://geekli.st/telemachus">geekli.st</a>. Wherever I hang out regularly, my name will be some variation of Telemachus, but of course not every online Telemachus is me. Consider yourself warned.</p>

<h2>What&rsquo;s with the names?</h2>

<p>There&rsquo;s a longer story here, but in a nutshell I&rsquo;m a geek for ancient Greek and Roman literature. Arpinum (modern Arpino), about 60 miles south of Rome, is where <a href="http://en.wikipedia.org/wiki/Cicero">Marcus Tullius Cicero</a> was born. Ithaca is the home of Odysseus, the hero of the <em>Odyssey</em>, as well as his son (and my namesake) Telemachus. A few years ago when my wife and I were trying to pick a domain name to buy, we went through various Greco-Roman options, and arpinum.org was the first available choice. Ithaca made sense as a name for this space: the home of Telemachus.</p>

<div class="up">&uArr; <a href="#home">Back to top</a></div>

<div class="footer group">
  <ul class="nav">
    <li><a href="/">Home</a></li>
    <li class="here">| About</li>
    <li>| <a href="archive.html">Archive</a></li>
    <li>| <a href="categories.html">Categories</a></li>
  </ul>
  <ul class="me">
    <li>
      <a href="atom.xml" class="rss">Subscribe</a>
    </li>
    <li>
      <a href="https://github.com/telemachus" class="github">Me @ Github</a>
    </li>
    <li>
      <a href="https://twitter.com/telemachus" class="twitter">Me @ Twitter</a>
    </li>
  </ul>
</div>
