---
title: Home
---

<h1 id="title"><%= @site.config[:title] %><span id="subtitle">: a digital homecoming</span></h1>

<h2 id="h_banner">Recent arrivals...</h2>

<ul id="archive">
  <% sorted_articles[0..4].each do |article| %>
    <li>
      <span><%= article.attributes[:created_at] %> &middot; </span>
      <a href="<%= url_for(article) %>"><%= article.attributes[:title] %></a>
    </li>
  <% end %>
</ul>

<div id="footer">
  <ul id="nav">
    <li id="here">Home</li>
    <li>| <a href="/about.html">About</a></li>
    <li>| <a href="/archive.html">Archive</a></li>
    <li>| <a href="/atom.xml">Subscribe</a></li>
  </ul>
</div>
