---
title: Home
---

<h1 class="title">
  <%= @site.config[:title] %>
  <span class="subtitle">: a digital homecoming</span>
</h1>

<h2 class="h_banner">Recent arrivals...</h2>

<ul class="archive">
  <% sorted_articles[0..4].each do |article| %>
    <li>
      <span><%= article.attributes[:created_at] %> &middot; </span>
      <a href="<%= relative_path_to(article) %>"><%= article.attributes[:title] %></a>
    </li>
  <% end %>
</ul>

<div class="footer group">
  <ul class="nav">
    <li class="here">Home</li>
    <li>| <a href="/about.html">About</a></li>
    <li>| <a href="/archive.html">Archive</a></li>
    <li>| <a href="/categories.html">Categories</a></li>
  </ul>
  <ul class="me">
    <li>
      <a href="/atom.xml" class="rss">Subscribe</a>
    </li>
    <li>
      <a href="https://github.com/telemachus" class="github">Me @ Github</a>
    </li>
    <li>
      <a href="https://twitter.com/telemachus" class="twitter">Me @ Twitter</a>
    </li>
  </ul>
</div>
