<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{{ page.title | strip_html }} | {{ site.name }}</title>
	<meta name="author" content="Peter Aronoff">
	<link href="/atom.xml" rel="alternate" title="ithaca" type="application/atom+xml">
	<link rel="shortcut icon" href="/favicon.ico">

	<link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="/css/mate.css" type="text/css">

	<!-- Typekit -->
	<script type="text/javascript" src="http://use.typekit.com/heq8zfc.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <!-- @Anywhere -->
  <script src="http://platform.twitter.com/anywhere.js?id=jEYhb49oMnnPrMe93pPtcA&v=1">
  </script>
  <script type="text/javascript">
     twttr.anywhere(function(twitter) {
              twitter.hovercards();
     });
  </script>
</head>

<body>

  {{ content }}

</body>
</html>
